* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

body {
  background-color: #101a1e;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(78, 102, 110);
  background-color: #101a1e;
  padding: 20px;
  height: 10vh;
}

.para-header {
  margin: 5px;
}

.heading-header {
  color: rgb(7, 189, 255);
  padding-right: 20px;
  margin: 10px;
}

.para-header {
  color: #fff;
  margin-right: 10px;
}

.cal-body {
  width: 100%;
  display: flex;
  margin-top: 25px;
  margin-bottom: 45px;
  justify-content: center;
  align-items: center;
  background-color: #101a1e;
}

.calculator {
  width: 300px;
  height: 480px;
  border: 1px solid rgb(61, 170, 200);
  border-radius: 5%;
  margin: 20px;
  background-color: rgb(20, 22, 24);
}

.display {
  width: 12.5em;
  height: 45px;
  border-radius: 5px;
  margin: 20px 5px 15px 10px;
  font-size: 22px;
  font-weight: 700;
  color: #07bdff;
  background-color: #000000;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 10px;
  text-align: right;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cal-button {
  justify-content: space-between;
  color: rgb(255, 255, 255);
  width: 6em;
  height: 50px;
  font-weight: bold;
  margin: 8px;
  background-color: #06709e;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid rgb(16, 34, 80);
}

.cal-button:hover {
  transform: translateY(-2px);
  background-color: #0a38ab;
  border: none;
}

footer {
  background-color: #101a1e;
  color: #07bdff;
  text-align: center;
  padding: 30px 0;
  font-size: 0.9rem;
  border-top: 1px solid #06709e;
  height: 40px;
}
